.plans {
    padding: 10rem 0;
    text-align: center;
    background-color: #f9fafb;
    background-color: radiant-gradient(135deg, rgba(0, 0, 0, 0.95), rgba(26, 26, 26, 0.95));

}
.pricing-table {
    margin-top: 2rem;
    padding: 2rem;
    background-color: #f9fafb;
    border: 2px solid transparent;
    background-color: radiant-gradient(135deg, rgba(0, 0, 0, 0.95), rgba(26, 26, 26, 0.95));
    border-radius: 1rem;
    /* box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    
}
